/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html */

body {
    background: url('./img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

body > div.form > div.h1-wrapper > h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3rem;
    position: relative;
    top: 10vh;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    position: relative;
    top: 25vh;
    gap: 7.5vh;
}

input {
    outline: none;
    border: none;
    background: #333;
    height: 3em;
    width: 25vw;
    text-indent: 7.5px;
    font-family: 'Poppins', sans-serif;
    color: #999;
    border-radius: 5px;
}

input#submit {
    background: rgb(7, 114, 25);
    color: white;
    font-size: 1.1em;
    width: 12.5vw;
    cursor: default;
    text-align: center;
}

.active {
    cursor: pointer!important;
    background:rgb(15, 211, 48)!important;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 4vh;
    right: 3vw;
}

.input-eye {
    color: #999;
    background: #333;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.input-icon {
    display: flex;
    max-width: 25vw;
}

.input-icon i {
    border-radius: 0 5px 5px 0;
}

input#password {
    border-radius: 5px 0 0 5px;
}


/* media queries */

@media only screen and (max-width: 1410px) {
    body {
        background-size: auto;
    }
}

@media only screen and (max-width: 1000px) {
    input {
        width: 35vw;
        height: 4em;
    }
    .input-icon {
        max-width: 35vw;
    }
    body > div.form > div.h1-wrapper > h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 700px) {
    input#submit {
        width: 25vw;
        height: 4em;
    }
}

@media only screen and (max-width: 400px) {
    input {
        width: 50vw;
        height: 4em;
    }
    .input-icon {
        max-width: 50vw;
    }
    input#submit {
        width: 40vw;
        height: 4em;
    }
}
